<div>
    <h1>Edit product</h1>
    <form novalidate ng-submit="updateProduct()">
        <input class="form-control" type="number" hidden placeholder="ID" ng-model="updated_product.id">
        <p></p>
        <input class="form-control" type="text" placeholder="Title" ng-model="updated_product.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Price" ng-model="updated_product.price">
        <p></p>
        <input class="form-control" type="text" placeholder="Category title" ng-model="updated_product.categoryTitle">
        <p></p>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>